html {
  overflow-x: hidden;
}
body {
  font-family: helvetica;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // z-index: 5;asdfsdf;
}

.body-wrapper {
  min-width: 2000px;
}

.canvas {
  width: 1vw;
  height: 1vh;
}

//panel/page mixin
@mixin flexCenter($background) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 100vw;
  background: $background
}

@mixin underline() {
  text-decoration: underline;
}

//home section
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

//dropdown menu
.dropdown {
  position: fixed;
  top: 1%;
  left: 1%;
  width: 40px;
  height: 40px;
  z-index: 55;
  transition: .2s;
  transform: rotate(-90deg);
  &.open {
    transform: rotate(0deg);
    filter: invert(90%);
  }

  //remove button stylings from button
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}

#dropdown-image {
  width: 100%;
  height: 100%;
}

#menu {
  background: rgba(0, 0, 0, .5);
  width: 0px;
  height: 0px;
  border: 1px solid black;
  opacity: 0;
  font-size: 1.4rem;
  transition-property: height, width;
  transition-duration: .8s, .6s;
  transition-delay: 0s, .4s;
  transition-timing-function: linear;
  z-index: 20;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  //same position as dropdown button
  position: fixed;
  top: 1%;
  left: 1%;

  &.dropped {
    width: 40vw;
    height: 15vh;
    opacity: 1;

    transition-property: width;
    transition-delay: 0s;
    transition-duration: .2s;
  }

}

.logo.spin {
  font-family: serif;
  position: fixed;
  font-size: 30px;

  // background-color: #0CB1C4;
  animation-name: spin;
  animation-duration: 600ms;
  // animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.nav-btns {
    visibility: hidden;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    font-family: roboto slab, serif;
    font-size: 26px;

  }

.nav-btn {
  position: relative;
  color: white;
  margin: 1rem;
  transition: 1s;
  padding: 2px;
  z-index: 20;

  &:hover {
    cursor: pointer;

  }
}
//Nav button center-out underline animation using :before, transform
.nav-btn a {
  position: relative;
  color: white;
  text-decoration: none;
  &:hover {
    color: white;
    &:before {
      visibility: visible;
     -webkit-transform: scaleX(1);
     transform: scaleX(1);
    }
  }
  &:before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  //underline color
  background-color: white;
  // visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  }
}
//header
header {
    display:none;
    position: absolute;
    z-index: 30;
    opacity: 1;
    top: 0;
    height: 8vh;
    width: 100vw;
    padding: 10px 16px;
    color: #f1f1f1;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    background: #070707;
    background: rgba(7,7,7,0.5);
    transition: .4 ease-in-out;

    &.sticky {
      position: fixed;

    }
}

//hero
#hero {
  position: absolute;
  top: -20rem;
  text-align: center;
  font-size: 35.5vw;
  z-index: -1;
  font-weight: 1000;
  -webkit-text-fill-color: rgba(181, 181, 181, 1); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: black;
}


#about-title {
  position: absolute;
  top: 7%;
  left: 2%;
  font-size: 60px;
  z-index: 0;
}

.section-title {
  opacity: 0;
  transition: opacity 2.6s ease-in-out;
  transition-delay: .4s;
  z-index: 1;
  &.fadeIn {
    opacity: 1;
  }
}

//HOME SECTION
.home {
  @include flexCenter(#ffffff);
  background-color: rgba(237, 238, 241, .7);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  z-index: 1;
}

//ABOUT SECTION
.about {
  // @include flexCenter(white);
  // position: relative;
  // height: 220vh;
  // flex-wrap: wrap;
  // align-content: space-between;
}

#about-text {
  // right: 20%;
  // width: 50vw;
  // height: 40vh;
  // max-height: 20vh;
  opacity: 0;
  // padding-top: 10vh;
  padding-left: 20vw;
  padding-right: 20vw;
  // margin-top: 13rem;
  font-size: 1.6rem;
  line-height: 2.3;
  // flex-basis: 100%;

  &.fadeIn {
    opacity: 1;
  }



}

#about1 {
  // position: relative;
  left : -20%;
  opacity: 0;
  transition: opacity 2.6s ease-in-out 1s, left 2s ease-in-out 1s;

  &.fadeIn {
    left: 0%;
    opacity: 1;
  }
}

#about2 {
 
  opacity: 0;
  transition: opacity 2.6s ease-in-out 1.5s, right 2s ease-in-out 1s;

  &.fadeIn {
    opacity: 1;
  }
}

// .underscore {

//   position: relative;
//   // left: -20%;
//   width: 30%;
//   height: 0;
//   border-bottom: 3px solid black;
//   transition: 1.2s;
//   transition-delay: .2s;
//   bottom: 33%;
//   &.slideIn {
//     left: 28%;
//   }
// }

#skill-intro {
  
  flex-basis: 100%;
  font-weight: normal;
  opacity: 0;
  transition: 3s;

  &.slideLeft {
    left: 28%;
    opacity: 1;
  }
}

#skills-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 60vw;
  min-height: 10vh;

  border: 2px solid salmon;
}



@keyframes bounce {
   0% {transform: translateY(0%)}
   50% {transform: translateY(-20%)}
   100% {transform: translateY(0%)}
}

@keyframes bounceDown {
   0% {transform: translateY(0%)}
   50% {transform: translateY(20%)}
   100% {transform: translateY(0%)}
}

.skill {
  flex-shrink: 1;
  border: 1px solid black;
  background-image: linear-gradient(white, #efefef);
  position: relative;
  top: -15%;
  height: 50%;
  width: 30%;
  opacity: 0;
  padding-bottom: 1em;
  box-sizing: border-box;
  margin: .4em;
  transition: top .8s .4s, transform .6s, opacity .8s .4s;

  &:hover {
    transform: translateY(-20%)
  }

  &.slideDown {
    top: 0%;
    opacity: 1;
  }

  &#skill1 {
    border-top: 0;
    border-left: 0;
      & .skill-title {
        padding-left: 5.5rem;
      }
  }

  &#skill2 {
    border-top: 0;
    transition: top .8s .6s, transform .6s,opacity .8s .6s;
      & h2 {
        padding-left: 3em;
      }
  }

  &#skill3 {
    border-top: 0;
    border-right: 0;
    transition: top .8s .8s, transform .6s, opacity .8s .8s;

      & h2 {
        padding-left: 2em;
      }
    }
  }

.skillBtm {
  position: relative;
  top: 15%;
  border: 1px solid black;
  background-image: linear-gradient(#efefef, white);
  height: 50%;
  width: 30%;

  box-sizing: border-box;
  margin: .4em;

  transition: transform .6s, top 1s 1s, opacity .8s 1s;

  opacity: 0;

  &.slideUp {
    opacity: 1;
    top: 0%;
  }

  &#skill4 {
    border-bottom: 0;
    border-left: 0;
  }

  &#skill5 {
    border-bottom: 0;
    transition: top .8s 1.2s, transform .6s, opacity .8s 1.2s;
  }
  &#skill6 {
    border-bottom: 0;
    border-right: 0;
    transition: top .8s 1.4s, transform .6s, opacity .8s 1.4s;

      & .skill-titleBtm {
        padding-left: 4.5rem;
      }
  }

  &:hover {
    transform: translateY(20%)
  }
}

.skill-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  padding-left: 2.5rem;

}

.skill-titleBtm {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  padding-left: 5.5rem;

}

.skill-icon {
  margin: 0 auto;
  width: 60%;
  height: 60%;
  padding-left: 3.5em;

}




//PROJECTS SECTION

.projects {
  position: relative;
  @include flexCenter(white);
  height: 160vh;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(1,0,0,0.54), 0 1px 2px rgba(0,0,0,0.54), 0 -3px 5px rgba(0, 0, 0, .5);
  background: rgba(237,238,241,0.7);
  z-index: 0;

}

#projects-title {
  font-size: 60px;
  position: absolute;
  left: 2%;
  top: -7.5%;
}

#block1 {
  display: none;
  position: absolute;
  right: 10%;
  top: 10%;
  background: rgba(0,0,0,.4);
  width: 20em;
  height: 20em;
}
#block2 {
  display: none;
  position: absolute;
  left: 10%;
  bottom: 5%;
  background: rgba(0,0,0,.4);
  width: 20em;
  height: 20em;
}

.text-box-tl {
  position: relative;
  width: 30%;
  margin-left: 7%;
  margin-bottom: 15%;
  align-self: flex-start;
  opacity: 0;
  transition: 4.4s;


  & h2 {
    color: rgba(0,0,0 ,1);
    font-size: 2.6em;
  }
  & p {
    line-height: 1.7;
    color: rgba(0,0,0,.4);
    font-size: 1.4em;
  }

  &.fadeIn {
    opacity: 1;
  }
  z-index: 1;

}

.text-box-br {

  width: 30%;
  margin-top: 5em;
  margin-right: 4%;
  align-self: flex-end;
  z-index: 0;
  opacity: 0;
  transition: 4.4s;
  transition-delay: .6s;

    & h2 {
      color: rgba(0,0,0 ,1);
      font-size: 2.6em;
    }
    & p {
      line-height: 1.7;
      color: rgba(0,0,0,.4);
      font-size: 1.4em;

    }

    &.fadeIn {
      opacity: 1;
    }
}


.projects-container {
  position: absolute;
  top: 33%;
  width: 34vw;
  height: 34vw;
  padding: 5px;
  display: flex;
  direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  transition: box-shadow 2s;

    &.shadow {
      box-shadow: 0 1px 3px rgba(1,1,1,1.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      &.top {
        box-shadow: 3px 3px 3px #010101, 1px 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      }
    }

  transform: rotate(46deg);
}

//image wrapper, link to image content's github / website
.project-link {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 0%;
    width: 0%;
    opacity: 0;
    box-shadow: 0;
    overflow: hidden;
    transition: box-shadow 2s, width 3s 1s, height 3s 1s, background 2s;

    & .content-title {
      transition: 2s;

    }
    &.bubbleUp {
      height: 49%;
      width: 49%;
    }

    &:hover .content-title{
      color: rgba(107, 179, 125, 1);
      opacity: 1;
    }
    &:hover .content-description{
      bottom: 25%;
      opacity: 1;
    }

    &.shadow {
      box-shadow: 0px 0px 4px rgba(1,1,1,1.12);
      opacity: 1;
    }

    &:hover {
      box-shadow: none;

      & .project-icon {
        opacity: 0;
      }

    }

    &#project1 {
      background: #c7f0d2;
        &:hover {
          background: rgba(237,238,241,0);
        }
        & .content-title {
          bottom: 40%;
          right: 42%;
        }
    }

    &#project2 {
      background: #faf4b1;

        &:hover {
          background: rgba(237,238,241,0);
        }

        & .content-title {

          bottom: 46%;
          right: 29%;
        }

        &:hover .content-description {
          left: 15%;
        }

    }

    &#project3 {
      background: #dfd8e0;

        & .content-title {
          width: 90%;
          bottom: 32%;
          right: 20%;
        }

        &:hover {
          background: rgba(237,238,241,0);
        }

      }

      &#project4 {
        background: #c7d7f0;
        overflow: visible;
        &:hover {
          background: rgba(237,238,241,0);
        }
        & .content-title {
          bottom: 45%;
          right: 25%;
        }
      }
}


//icons in project links
.project-icon {
  transform: rotate(-45deg);
  transition: .7s;
  max-width: 60%;
  max-height: 60%;

}

#cat-icon {
  position: relative;
  bottom: 6%;
  right: 9%;
}

//images, top level content
.project-thumb {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 25rem;
  width: 25rem;
  object-fit: cover;
  transition: 1s ease-in-out;
  transform: rotate(-45deg);
  opacity: .8;

}

.diamond-break {
  flex-basis: 100%;
  height: 10px;
}

//contact section
.contact {
  @include flexCenter(white);
  position: relative;
  flex-wrap: wrap;
  height: 100vh;
}

#contact-title {
  position: absolute;
  font-size: 60px;
  left: 2%;
  top: 7%;

}

#contact-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.break {
  flex-basis: 100%;
  height: 0;
}

.small-box {
  position: relative;
  top: 25%;

  &:hover {
    background: rgba(144, 150, 173, .7)
  }

}

.box {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: rgba(144, 150, 173, .7)
  }
}

.content-title {
  position: absolute;
  opacity: 0;
  font-size: 1.6rem;
  transition: top 2s ease-in, right 2s ease-in, bottom 2s ease-in, left 2s ease-in;
  color: black;
  transform: rotate(-45deg);


}

.content-description {
  position: absolute;
  bottom: 0;
  opacity: 0;
  color: black;
  transition: 2s;
  transform: rotate(-45deg);

}

#contact-form {
  position: absolute;
  width: 0;
  opacity: 0;
  transition: 2s ease-in-out;
  &.popUp {
    width: 30%;
    opacity: 1;
  }

}

#contact-form input {
  background: #ecefef;

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  &#submit-btn {
    width: 20%;
    float: right;
  }
}

#form-title {
  position: absolute;
  bottom: 75%;
}

#contact-form textarea {
  background: #ecefef;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



.anchor-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
}



#email-me {
    position: relative;
    bottom: 32.8%;
    width: 10.3rem;
    height: 3rem;
    border: solid 2px black;
}



footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: #747a8a;
  width: 101vw;
  left: -1vw;
  height: 20vh;

}

.home-arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -3.4rem;
  width: 4.9rem;
  height: 4.9rem;

  top: -50%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

  transition: .8s;
  &:hover {
    color: white;
    transform: rotate(360deg)
  }
  cursor: pointer;
  background: #6bb37d;

  font-size: 60px;

  & p {
    font-size: 2rem;
  }

}

.social-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 30%;
}

.social-link {
  display: inline-block;
  width: 2.9rem;
  height: 2.9rem;
  margin: 25px 1.1rem 20px 1.1rem;

  background: rgba(0, 177, 106, 0);
  display:table;
}

.social-link img {
  width: 80%;
  height: 80%;
  margin: 6px;
  vertical-align: middle;
  display:table-cell;
}

#copyright {
  position: absolute;
  color: white;
  bottom: -.5em;
}


 .bar {
   position: absolute;
   top: 27%;
 }

 //adjustments based on screen setSize
 @media only screen and (max-width: 900px) {
   .home {
     width: 103vw;
   }
   #menu {

     &.dropped {
       width: 95vw;
       height: 28vh;
     }
   }

  .nav-btn {
    width: 40%;
    height: 40%;
    margin-top: 10%;
  }

   #hero {
     position: absolute;
     top: 7%;
     font-size: 61.5vw;
     z-index: -1;
     font-weight: 1000;
     -webkit-text-fill-color: #b5b5b5;
     -webkit-text-stroke-width: 0px;
     -webkit-text-stroke-color: black;
   }


   //about section
 
  //  #about-title {
  //    top: 0%;
  //  }
  #about-text {

    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    padding-left: 20vw;
    // margin-top: 8rem;
    font-size: 1.2rem;
    line-height: 1.8;
    transition: opacity 3.6s 1.1s;

    padding-top: 0;


    &.fadeIn {
      opacity: 1;
    }

  }

  // .underscore {
  //   position: relative;
  //   /* margin-top: 37em; */
  //   top: 25rem;
  //   width: 30%;
  //   height: 0;
  //   border-bottom: 3px solid black;


  //   &.slideIn {
  //     left: 0%;
  //   }

  // }
  .about {
    height: 280vh;
  }

  #skill-intro {
    // position: relative;
    // top: 6%;
    // left: 10%;
    font-size: 1.2em;
    padding-left: 2em;
    &.slideLeft {
      left: 0%;
    }
  }

  .skill-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    padding-left: 2.5rem;

  }

  .skill {

    flex-basis: 50%;
    max-width: 33%;


    &#skill1 {
      border: 1px solid black;
      & .skill-title {
        padding-left: 3rem
      }
    }
    &#skill2 {
      border: 1px solid black;
    }
    &#skill3 {
      border: 1px solid black;
    }


  }

  .skillBtm {

    flex-basis: 50%;
    max-width: 33%;

    & .skill-titleBtm {
      font-size: 1em;
      padding-left: 3em;
    }

    &#skill4 {
      border: 1px solid black;
    }
    &#skill5 {
      border: 1px solid black;
    }

    &#skill6 {
      border: 1px solid black;

      & .skill-titleBtm {
        font-size: 1em;
        padding-left: 2.5em;
      }
    }
  }

  .skill-icon {
    margin: 0 auto;
    width: 60%;
    height: 60%;
    padding-left: 2em;
    padding-bottom: 2em;
  }



  #skills-container {
    // position: relative;
    display: block;
    bottom: 14%; 

    flex-direction: row;
    left: 15%;
    // min-height: 0;
    /* flex-basis: 100%; */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100vw;
    height: 11%;
    min-height: 10vh;
}

  .skills-container {
    flex-basis: 100%;
  }

  //projects section

  .projects {
    height: 200vh;
  }
  #projects-title {
    font-size: 60px;
    position: absolute;
    left: 2%;
    top: -7.5%;
  }



  .text-box-tl {
    width: 86%;
    align-self: flex-start;
    padding-bottom: 32em;

      & h2 {
        color: rgba(0,0,0 ,1);
      }
      & p {
        line-height: 1.7;

        color: rgba(0,0,0,.4);
        font-size: 1.2em;
      }
    z-index: 1;

  }

  .projects-container {
    position: absolute;
    top: 40%;
    width: 70vw;
    height: 70vw;

    padding: 5px;
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: box-shadow 2s;
    transform: rotate(46deg);
}

  .diamond-break {
    flex-basis: 100%;
    height: 4px;
  }

  .text-box-br {
    align-self: flex-end;

    z-index: 0;
    width: 96%;
    // padding-left: 7em;



      & h2 {
        padding-left: 1em;
        color: rgba(0,0,0 ,1)
      }
      & p {
        padding-left:2em;
        line-height: 1.7;
        color: rgba(0,0,0,.4);
        font-size: 1.2em;
      }
  }

  //contact section
  .contact {
    height: 140vh;
  }

  #form-title {
    position: absolute;
    bottom: 24%;
  }

  #contact-form.popUp {
    width: 70%;
    opacity: 1;
}

#contact-form input#submit-btn {
  width: 30%;
  float: right;
}


  footer {
    height: 25vh;
  }

  .social-wrapper {
    position: relative;
    right: 10%;
    width: 30%;
  }

  .social-link img {
    width: 250%;
  }



  canvas {
    padding-top: 0em;
  }
}
